{% extends "main.html" %}

	{% block title %}d20 mobile - Morningstar - Features{% endblock %}
	
	{% block script %}
	{% endblock %}
	
	{% block map %}
	{% endblock %}
	
	{% block content %}
	<div id="page-wrap">
		<div id="page">
			<h2>About</h2>
			<div>
				<h3>{ Brief History }</h3>
				<p class="text14 just">
					I am a mobile and web application developer, and a lifelong fan of "pen and paper" RPGs.  After noticing how much time I was "playing" Facebook and Foursquare on my mobile phone throughout the day; it occurred to me that I'd rather use all that time and all those friends to <i>role play</i>.  So I began developing a web service that would power d20 game mechanics and Open Game Content for mobile devices.
					<br/><br/>
					My goal was to leverage geo-location and connected mobile devices to create a parallel reality where players could battle monsters, navigate puzzles and traps, meet other player characters, find treasure and build communities/factions.  All game events would be logged and used to create a fantasy map overlay on the real world Google map.  
					<br/><br/>
					The result?  Your favorite coffee shop also becomes the place where you and a handful of other heroes battled the undead (and won).  Your favorite park down the street is full of Orcs and as a consequence has become a magnet for adventurers seeking glory (and many only finding their end).
					<br/><br/>
					Life is short, so why not fill it with as much adventure as you can?   
				</p>
				<h3>{ A Kickstarter Project }</h3>
				<p class="text14 just">
					I began developing d20 Morningstar in March 2011.  As of June 2011, a stable version of the game server is complete and is being tested with a prototype mobile client built in HTML5.  The next step is to build a native Android app, which will be the first released version of the game, and available for free.
					<br/><br/>
					Morningstar development is self-funded: I have been working full time on the project, spending my savings and using credit cards to pay bills.  I need help from the community to keep me working on this project and see it through to completion.
					<br/><br/>
					The Kickstarter model is ideal for this project:
					<ul class="text14 just">
						<li>Those interested in the game can support the project for as little as $5.</li>
						<li>Backers of the project will receive cool rewards.</li> 
						<li>The funding is all or nothing -- if the goal isn't met, then no one loses any money.</li>
						<li>The API will be Open Source, allowing other developers to build games and apps.</li>
					</ul>
				</p>
				<p class="text14 just">
					Please check out the rewards offered on d20 Morningstar's <a title="Kickstarter" href="http://www.kickstarter.com/projects/willi/d20-morningstar-location-aware-role-playing">Kickstarter project page</a>.  Support the project if you can, and share with friends.
				</p>	
				<p class="text14 just">
					I hope to see you in game!<br/><br/>
				</p>	
				<p class="text14" id="sig">-- Will Merydith</p>
			</div>
		</div><!-- /page -->
		<div id="sidebar">
			<aside>	
				<iframe frameborder="0" height="380px" src="http://www.kickstarter.com/projects/willi/d20-morningstar-location-aware-role-playing/widget/card.html" width="220px"></iframe>
			</aside>
		</div>
	</div><!-- /page-wrap -->	
	{% endblock %}
