{% extends "main.html" %}

	{% block title %}d20 mobile - Morningstar - Features{% endblock %}
	
	{% block script %}
	{% endblock %}
	
	{% block map %}
	{% endblock %}
	
	{% block content %}
	<div id="page-wrap">
		<div id="page">
			<h2>Features { beta }</h2>
			<div>
				<p class="text14">
					The following features will be included in the first release of d20 Morningstar.  <br/>
					The feature list for subsequent versions will be driven by community feedback.  Please join our <a href="http://www.facebook.com/pages/D20-Mobile/216578018373721">Facebook Page</a> to submit features you'd like to see in the game.  
				</p>
				<h3>Player Characters</h3>
				<p class="text14">
					Players will choose from four level 1 Player Character Templates:
				</p>	
				<ul class="text14">
					<li>Human Fighter { Greatsword, Longbow }</li>
					<li>Elf Wizard { Staff of Defense }</li>
					<li>Halfling Rogue { Shortsword, Dagger }</li>
					<li>Dwarf Cleric { Warhammer, Crossbow }</li>
				</ul>	
				<h3>Non Player Characters</h3>
				<p class="text14">
					A variety of monster types will be released around the world including:
				</p>
				<ul class="text14">
					<li>Kobolds</li>
					<li>Orcs</li>
					<li>Goblins</li>
					<li>Bugbears</li>
					<li>Skeletons</li>
					<li>Wolves</li>
					<li>Zombies</li>
					<li>Young Chromatic Dragons</li>
					<li>Vampires</li>
					<li>Giant Spiders</li>
					<li>Giants</li>
				</ul>	
				<p class="text14">
					Within each monster type their will be variety in level, powers, weapons and stats; providing thousands of possibilities in composition of monster parties.
				</p>	
				<h3>Quests</h3>
				<p class="text14">
					Players can take part in level and location specific quests.  Quests can be complete alone or with other Player Characters.
				</p>	
				<h3>Guilds</h3>
				<p class="text14">
					Players can form Guilds which provide members with special buffs.  Guilds are themed by Class, Race, Skill or Alignment, and depending on the theme, members receive special buffs.  Guilds elect a leader and officers and can claim territory as their domain.
				</p>
				<h3>Player vs Player</h3>
 				<p class="text14">
					Players may choose to fight other Player Characters, Guilds may choose to war with other Guilds.
				</p>
				<h3>Economy</h3>
				<p class="text14">
					Players can trade items with other Player Characters.  The game is filled with items common and rare, unique as well as artifacts of special meaning in the game.
				</p>
				<h3>Open Game License</h3>
				<p class="text14">
					The game will be released under the Open Game License, and will include an API allowing developers to read all game content, mechanics and events, as well as build their own game client.
				</p>
				<h3>More details coming . . . </h3>
				<br/><br/><br/><br/><br/>
			</div>	
		</div><!-- /page -->
		<div id="sidebar">
			<aside>	
				<iframe frameborder="0" height="380px" src="http://www.kickstarter.com/projects/willi/d20-morningstar-location-aware-role-playing/widget/card.html" width="220px"></iframe>
			</aside>
		</div><!-- /sidebar -->		
	</div><!-- /page-wrap -->	
	{% endblock %}
